/**********************/
/******** MAIN ********/
/**********************/

:root {
  --background-color: hsla(75, 12%, 7%, 1);
  --text-color: hsla(288, 11%, 91%, 1);
  --font-primary: sans-serif;
  --font-secondary: serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--text-color);
}

/*************************/
/******** HELPERS ********/
/*************************/

.btn {
  all: unset;
  border: solid 1px var(--text-color);
}

.btn-bottom-right {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

/******************************/
/******** TITLE SCREEN ********/
/******************************/

#titleScreen {
  background-image: url(/bg.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: transform 1.4s ease;
}
.titleScreen-transition {
  transition: transform 1.4s ease;
  transform: translateY(-100%);
}

.titleScreen__content {
  border: solid 1px red;
  width: min(864px, 100%);
  text-align: center;
}

.titleScreen__title {
  margin: 0 0 32px;
  font-family: var(--font-secondary);
  font-size: 7rem;
  line-height: 1;
}

.titleScreen__text {
  width: min(480px, 100%);
  margin: 0 auto 64px;
}

/******************************/
/******** TITLE SCREEN ********/
/******************************/

#slidingScreen {
  background-image: url(/transition-elements.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.slidingScreen-transition {
  transition: transform 1.6s 0.3s ease;
  transform: translateY(-100%);
}

/*****************************/
/******** MAIN SCREEN ********/
/*****************************/

#map {
  width: 100vw;
  height: 100vh;
}
